### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.idea
doc/build/doctrees
/Metaheuristicos.egg-info
/main/BIP/_results
/core/searches/ea/AG.py
/main/Instances/BIP/*/*
doc/build/latex