### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
.idea
doc/build/doctrees
/Metaheuristicos.egg-info
core/searches/ea/AG.py
main/QAP/experiments/*_results
main/BIP/*_results
main/Instances/BIP/test
main/Instances/QAP/test
doc/build/latex